* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  /* background-color: #343131; */
}

/* SearchBar */
.Search-P {
  padding: 20px;
  border-radius: 4px;
  display: flex;
  min-height: 10vh;
  justify-content: center;
  align-items:flex-start;
}
.SearchBars {
  width: 50%;
  padding: 5px;
  font-size: 18px;
  border: 2px solid #65686c;
  border-radius: 20px;
  width: 500px;
  position: absolute;
}
input[type="text"] {
  border: none;
  outline: none;
  font-size: 25px;
}
input[type="text"]::placeholder {
  color: #65686c;
  opacity: 0.7;
}

.News{
  position: absolute;
  width: 100%;
  height: 50%;
  padding: 10px;
}

.News-Content{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  height: 100%;
  margin-left: 10%;
  gap: 20px;
  margin-right: 10%;
  padding: 30px;
  background-color:#e0bb8e;
  border-radius: 45px;
  border-style: solid ;
  border-width: 3px;
  border-color: black;
}

.Popular{
  grid-row: span 2;
  background-color: #efa851;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: #FFF;
  font-size: 1.5em;
}

.Artist{
  background-color: #efa851;
  border-radius: 20px;
  display:flex;
  justify-content: center;
  align-items: flex-start;
  color: white;
  font-size: 1.5em;
}

.Music{
  background-color: #efa851;
  border-radius: 20px;
  display:flex;
  justify-content: center;
  align-items: flex-start;
  color: white;
  font-size: 1.5em;
  
}

