* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  /* background-color: #343131; */
}

@media screen and (max-width:600px) {

}

.Pop-Content {
  background: url("/public/images/background.svg");
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  z-index: -1;
}

/* SearchBar */
.Search-P {
  padding: 30px;
  border-radius: 4px;
  display: flex;
  min-height: 20vh;
  justify-content: center;
  align-items: center;
}
.SearchBars {
  width: 50%;
  padding: 5px;
  font-size: 18px;
  border: 2px solid #65686c;
  border-radius: 20px;
  width: 500px;
  position: absolute;
}
input[type="text"] {
  border: none;
  outline: none;
  font-size: 22px;
  text-decoration: none;
}
input[type="text"]::placeholder {
  color: #65686c;
  opacity: 0.7;
}

/* Conten of Music */
.News {
  position: absolute;
  width: 100%;
  height: 60%;
  padding: 10px;
}

.News-Content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  height: 100%;
  margin-left: 10%;
  gap: 20px;
  margin-right: 10%;
  padding: 30px;
  background-color: #e0bb8e;
  border-radius: 45px;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  box-shadow: 5px 5px #4d4b4b;
}

.Popular-Pop {
  grid-row: span 2;
  background-color: #efa851;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: #fff;
  font-size: 1.5em;
  box-shadow: 5px 5px 5px #c37c26;
  cursor: pointer;
}

.Artist-Pop {
  background-color: #efa851;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: white;
  font-size: 1.5em;
  box-shadow: 5px 5px 5px #c37c26;
  cursor: pointer;
}

.Music-Pop {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 15px;
  gap: 10px;
  background-color: #efa851;
  border-radius: 20px;
  justify-content: center;
  align-items: flex-start;
  color: white;
  font-size: 1.5em;
  box-shadow: 5px 5px 5px #c37c26;
  cursor: pointer;
}

.Music-Pop-1 {
  height: 100%;
  background-color: gray;
  border-radius: 5px;
}
.Music-Pop-2 {
  height: 100%;
  background-color: gray;
  border-radius: 5px;
}
.Music-Pop-3 {
  height: 100%;
  background-color: gray;
  border-radius: 5px;
}

.Popular-Pop:hover {
  transform: scale(1.025);
}
.Artist-Pop:hover {
  transform: scale(1.015);
}
.Music-Pop:hover {
  transform: scale(1.015);
}
