* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  /* background-color: #343131; */
}
/* Header */
.Header {
  display: flex;
  justify-content: space-around;
  background-color: #343131;
  padding: 6px;
}
.Header a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
/* Nav bar */
.Nav1 {
  display: flex;
  justify-content: space-around;
  background-color: #d8a25e;
  padding: 10px;
}
.Nav1 a {
  text-decoration: none;
  color: white;
}
/* List */
.FavBar{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
}

.FavBar container-d{
  font-family: Arial, sans-serif;
  color: #fff;
  display: flex;
  height: 100vh;
}
   
.list-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
    
.List{
    width: 300px;
    height: 500px;
    background-color: #000;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    display: none;
}

/* FavBar */
.menu-item,.menu-open-button{
  width: 40px;
  height: 40px;
  background: #000;
  border-radius: 100%;
  position: absolute;
  color: #ffffff;
  transition: transform ease-out 200ms;
  box-shadow: 3px 3px 0 0 #76767624;
  text-shadow: 1px 1px 0 #8c8c8c1f;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  margin-left: 5px;
}




.menu-open-button {
  z-index: 2;
  transition-timing-function: cubic-bezier(0.2, 0.9, 0.3, 1.3);
  transition-duration: 400ms;
  transform: scale(1.1, 1.1);
  cursor: pointer;
}

.menu-open-button:hover {
  transform: scale(1.2, 1.2);
}

.lines {
  width: 20px;
  height: 3px;
  background: #ffffff;
  display: block;
  position: absolute;
  transition: transform 200ms;
 
}

.line-1{
  transform: translateY(-8px);
}

.line-3{
  transform: translateY(8px);
}

.menu-open:active+.menu-open-button .line-1{
  transform: rotate(45deg);
}

.menu-open.menu-open :active+.menu-open-button .line-2{
  transform: scale(0);
}

.menu-open:active+.menu-open-button .line-3{
  transform: rotate(-45deg);
}

.menu-open:active+.menu-open-button {
  transition-timing-function: linear;
  transition-duration: 200ms;
  transform: scale(0.8);
}




/* SearchBar */
.Search {
  border-radius: 4px;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}
.SearchBars {
  width: 50%;
  padding: 5px;
  font-size: 18px;
  border: 2px solid #65686c;
  border-radius: 20px;
  width: 500px;
}
input[type="text"] {
  border: none;
  outline: none;
  font-size: 25px;
  display: center;
}
input[type="text"]::placeholder {
  color: #65686c;
  opacity: 0.7;
}
